/* Base styles */
:root {
    --onyx: #393E41;
    --jasmine: #FFE787;
    --robin-egg-blue: #4ecdc4;
    --robin-egg-blue-darker: #2D9F98;
    --robin-egg-blue-lighter: #90E0DA;
    --flame: #E4572E;
    --flame-lighter: #EA7E5D;
    --darken-opacity: 0.6;
    --line-error: 2;
}

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--onyx);
    font-family: Arial, sans-serif;
}

.darken {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: var(--darken-opacity);
    position: fixed;
    background-color: black;
}

.popup-container {
    display: none;
    opacity: 0;
    transition: ease 0.4s opacity;
}

.popup {
    position: fixed;
    top: 5vw;
    left: 5vw;
    right: 5vw;
    bottom: 5vw;
    padding: 5vw;
    border-radius: 5vw;
    background-color: white;
    z-index: 2;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.popup::-webkit-scrollbar {
    display: none;
}

.exit-popup {
    position: absolute;
    right: 2.5vmax;
    top: 2.5vmax;
    width: 5vh;
    height: 5vh;
    border-radius: 2.5vh;
    background-image: url(/exit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    cursor: pointer;
}

.top-bar-container {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 9vh;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.top-bar-container::-webkit-scrollbar {
    display: none;
}

.top-bar {
    margin: 0;
    display: table;
    height: min-content;
    padding: 0 6vh;
    width: max-content;
}

.top-bar-item {
    font-size: 3vh;
    color: var(--jasmine);
    text-decoration: none;
    display: table-cell;
    padding: 3vh 6vh;
    text-decoration-color: var(--onyx);
    transition: ease 0.4s text-decoration-color;
}

.top-bar-item:hover {
    text-decoration: underline;
    text-decoration-color: var(--jasmine);
}

.run-icon {
    height: 3vh;
    width: 3vh;
    background-image: url(/run.svg);
    background-repeat: no-repeat;
    background-size: 3vh 3vh;
    transition: ease 0.4s background-image;
}

.run-button:hover > .run-icon {
    background-image: url(/run-hover.svg);
}

.console-container {
    position: fixed;
    width: calc(40vw - 1vh);
    height: calc(30vw - 1vh);
    border-radius: 2.5vw;
    background-color: var(--robin-egg-blue);
    border: var(--robin-egg-blue-darker) solid .5vh;
    top: 5vw;
    left: 5vw;
    z-index: 1;
    display: none;
}

.console-drag-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(5vw - 1vh);
    background-color: var(--robin-egg-blue-darker);
    border-radius: 2vw 2vw 0 0;
    cursor: move;
}

.exit-console {
    position: absolute;
    right: .75vw;
    top: .75vw;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: .75vw;
    background-image: url(/exit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--robin-egg-blue-darker);
    cursor: pointer;
}

.console {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 25vw;
    padding: 0;
    overflow-y: scroll;
    overflow-wrap: break-word;
    border-radius: 0 0 2vw 2vw;
    width: 100%;
}

.error-console {
    display: flex;
    align-items: center;
    padding: 0.5vh 1vh;
    margin-bottom: 0.5vh;
    background-color: var(--flame);
    color: var(--onyx);
    font-family: monospace;
}

.print-console {
    padding: 0 2.5vw;
    font-size: 2vh;
    line-height: 2.5vh;
    color: var(--onyx)
}

.line-num-console {
    margin-right: 1vh;
    padding: 0.2vh 0.5vh;
    background-color: var(--flame-lighter);
    border-radius: 0.3vh;
    color: var(--onyx);
    font-weight: bold;
}

.message-console {
    flex-grow: 1;
    padding-left: 1vh;
    color: var(--onyx);
    background-color: transparent;
}


.events-container {
    width: 100vw;
    height: 14vh;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.events-container::-webkit-scrollbar {
    display: none;
}

.events {
    display: table;
    width: max-content;
    padding: 0;
    margin: 0;
    border-spacing: 2vh;
    height: min-content;
}

.event {
    height: 10vh;
    font-size: 3vh;
    background-color: var(--jasmine);
    width: max-content;
    padding-left: 5vh;
    padding-right: 5vh;
    line-height: 10vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    color: var(--onyx);
    margin-right: 2vh;
    display: table-cell;
    transition: ease 0.4s background-color;
    cursor: pointer;
}

.event.selected {
    background-color: var(--robin-egg-blue);
}

.event:hover {
    background-color: var(--robin-egg-blue);
}

.event.add {
    border-radius: 2vh;
}

.choose-event {
    border: none;
}

.event-choice {
    color: var(--robin-egg-blue);
    font-size: 2vh;
}

.event-choice > .circle {
    box-sizing: border-box;
    float: left;
    background-color: white;
    height: 2vh;
    width: 2vh;
    border-radius: 1vh;
    margin-right: 2vh;
    border: .35vh solid var(--robin-egg-blue);
}

.event-choice.chosen > .circle {
    border: none;
    background-color: var(--robin-egg-blue);
}

.event-choice.already-added {
    color: var(--robin-egg-blue-lighter);
}

.event-choice.already-added > .circle {
    border-color: var(--robin-egg-blue-lighter);
}

.run-divider {
    display: none;
    margin: 0;
    padding: 0;
    width: .5vh;
    height: 77vh;
    background-color: var(--robin-egg-blue);
    float: left;
    cursor: col-resize;
    border-radius: .5vh .5vh 0 0;
}

.right-side {
    display: none;
    height: 77vh;
    width: unset;
    padding: 0;
    margin: 0;
    float: left;
}

.run-control {
    height: 8.5vh;
    width: inherit;
    margin: 0;
    padding: 0;
    border-bottom: var(--robin-egg-blue) solid 0.5vh;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.run-control::-webkit-scrollbar {
    display: none;
}

.open-console {
    margin: 0;
    padding: 0;
    height: 9vh;
    width: 9vh;
    background-color: var(--onyx);
    cursor: pointer;
}

.open-console-icon {
    background-image: url(/console.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 3vh;
    width: 3vh;
    margin: 2.75vh;
    transition: ease 0.4s background-image;
}

.open-console:hover > .open-console-icon {
    background-image: url(/console-hover.svg);
}

.run-container {
    height: 68vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.run-div {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 4 / 3;
    background-color: white;
}

.cm-operator {
    color: #8EF9F3 !important;
}

.cm-number {
    color: #98C1D9 !important;
}

.cm-comment {
    color: #A8AFB3 !important;
}

.cm-keyword {
    color: #FC5130 !important;
}

.cm-string {
    color: #79B644 !important;
}

.CodeMirror {
    background-color: var(--onyx) !important;
    float: left;
    margin: 0;
    padding: 0;
}

.CodeMirror-gutter {
    background-color: var(--onyx) !important;
}

.CodeMirror-linenumber {
    color: white !important;
}

.error {
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
}

.CodeMirror-selected {
    background-color: #0061a6 !important;
}